/* src/styles/ThreeSidebars.css */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

.sidebar1 {
  overflow-y: scroll;
  position: relative;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f0f0f0;
  padding: 5px; /* Reduced padding */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em; /* Smaller font size */
  height: 30px; /* Smaller height */
}

.search-icon {
  margin-left: 5px; /* Adjusted margin for the smaller size */
}

input[type="text"] {
  width: calc(100% - 10px); /* Adjusted width to fit within the reduced padding */
  padding: 5px; /* Smaller padding */
  margin-top: 0; /* Remove top margin */
  margin-bottom: 0; /* Remove bottom margin */
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.2em; /* Smaller font size */
  height: 30px; /* Smaller height */
}

.sidebar {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Optional: Add distinct backgrounds to each sidebar for clarity */
.sidebar:nth-child(1) {
  background-color: #f0f0f0;
}

.sidebar:nth-child(2) {
  background-color: #e0e0e0;
}

.sidebar:nth-child(3) {
  background-color: #d0d0d0;
}
