.App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .HomePage, .AlgorithmPage {
    display: flex;
  }
  
  .Sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
  }
  
  .Sidebar h2 {
    margin-top: 0;
  }
  
  .Sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .Sidebar ul li {
    margin: 10px 0;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .AlgorithmExample, .Usage, .CodeViewer {
    margin-bottom: 20px;
  }
  